@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

body {
  font: 16px/1.5 'Fira Code', monospace;
}
main {
  position: absolute;
  width: auto;
  display: flex;
  transform-origin: 0 0;
  transform: scale(0.5);
}
section {
  padding: 2em;
}
section > h2:first-child {
  margin-top: 0;
}
h2 {
  font-size: 2em;
  line-height: normal;
}
h3 {
  font: inherit;
  color: #8E908C;
  margin: 1em 0 0;
}
h3::before {
  content: "// ";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 2em;
}
li {
  white-space: pre;
}
li::before {
  content: "=> ";
  margin-left: -2em;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
li a {
  font-weight: 500;
}
.nested { opacity: 0.6; }
.method, .fn { color: #9a6e31; }
.trait { color: #7c5af3; }
.enum { color: #508157; }
.primitive { color: #2c8093; }
.struct { color: #ad448e; }
.type { color: #ba5d00; }
.where { color: #4e4c4c; }
footer {
  font-size: 0.8em;
  position: fixed;
  bottom: 12px;
  right: 16px;
  z-index: 1;
  background: white;
  color: #999;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 5px;
  opacity: .8;
}
