body {
  color: black;
  background: white;
}
h3 {
  color: #8E908C;
}
.method, .fn { color: #9a6e31; }
.trait { color: #7c5af3; }
.enum { color: #508157; }
.primitive { color: #2c8093; }
.struct { color: #ad448e; }
.assoc-type { color: #ba5d00; }
.where { color: #4e4c4c; }
footer {
  background: white;
  color: #999;
}
footer, footer li:last-child {
  border-color: #ccc;
}
footer li.on a {
  color: #333;
  background: #ccc;
}
