body, .impls h4, .impls ul {
  color: black;
  background: white;
}
.group-title {
  color: #8e908c;
}
main a, main span { color: rgba(0, 0, 0, var(--opacity)); }
.method, .fn { color: rgba(154, 110, 49, var(--opacity)); }
.trait { color: rgba(124, 90, 243, var(--opacity)); }
.enum { color: rgba(80, 129, 87, var(--opacity)); }
.primitive { color: rgba(44, 128, 147, var(--opacity)); }
.struct { color: rgba(173, 68, 142, var(--opacity)); }
.type, .assoc-type { color: rgba(186, 93, 0, var(--opacity)); }
.where { color: rgba(78, 76, 76, var(--opacity)); }
footer {
  background: white;
  color: #999;
}
footer, footer li:last-child {
  border-color: #ccc;
}
footer li.on a {
  color: #333;
  background: #ccc;
}
